.header {
    display: flex;
    background-color: DarkSalmon;
    margin: 0;
    padding: 16px 5%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    &-content {
        flex: 1;
        display: flex;
        align-items: center;
        &-notesImg {
            height: 35px;
            border-radius: 30%;
            margin-right: 17px;
        }
        &-title {
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            text-transform: capitalize;
            color: white;
        }
    }
}