.note {
    &-form {
        justify-content: center;
        display: grid;
        &-textArea {
            resize: none;
            height: 10rem;
            width: 25rem;    
            margin: 0.5rem 0.5rem 0 0.5rem;
        }
        &-button {
            width: 6rem;
            height: 3rem;
            margin: 0.5rem 0.5rem 0.5rem 19rem;
            border-end-start-radius: 1rem;
            border-top-right-radius: 1rem;
            background: cadetblue;
        }
        &-error {
            margin: 0.5rem 0.5rem 0 0.5rem;
            color: red;
            font-size: 15px;
        }
    }
    &-container{
        border-radius: 15px 50px;
        display: inline-block;
        width: 12rem;
        height: 13rem;
        border: 2px solid black;
        border-radius: 3px 50px;
        margin: 0.5rem;
        padding: 0 0 2.5rem 0;
        &-toolbar {
            border-radius: 0px 49px 0px 0px;
            border: 2px black;
            height: 3rem;
            border-style: none none solid none;
            &-close {
                padding: 5px;
                line-height: 14px;
                min-width: auto;
                background: cadetblue;
                height: 2rem;
                margin: 8px;
            }
        }
        &-data {
            width: 11rem;
            height: 8.5rem;
            resize: none;
            background-color:
            transparent;
            border: none;
            padding: 0.5rem;
            scrollbar-width: none;
            outline: none;    
            word-wrap: break-word;
            overflow: auto;
        }
    }
}


.Yellow {
    background-color: yellow;
}

.Blue {
    background-color: blue;
}

.Green {
    background-color: green;
}

.Red {
    background-color: red;
}

.White {
    color: white;
}

.Black {
    color: black;
}