<div>
    <form class="note-form" [formGroup]="noteForm">
        <textarea class="note-form-textArea" type="text" required formControlName="noteText" placeholder="Note Text"> </textarea>
        <div class="note-form-error" *ngIf="noteText?.invalid || noteText?.dirty">
            {{noteText?.errors?.message}}
            
        </div>
     </form>
    <div class="note-container {{note.color}}" *ngFor="let note of this.notesData.notes">
        <button class="note-container-close" (click)="removeNote(note)">
            X
        </button>
        <p class="note-container-data {{note.textColor}}">{{note.data}}</p>
    </div>
</div>